@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    background-color: transparent !important;
}

.container-fluid {
    @apply w-full;
    @apply px-8;
    @apply mx-auto;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: theme("colors.neutral");
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: theme("colors.secondary-focus");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: theme("colors.secondary");
}